<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
	<http auto-config="true" use-expressions="true" >
	    <!-- <intercept-url pattern="/login.jsp" access="ROLE_USER" /> -->
	    <!-- <intercept-url pattern="/index**" access="hasRole('ROLE_USER')" /> -->
	    <access-denied-handler error-page="/403" />
	    <intercept-url pattern="/login" access="permitAll"></intercept-url>
        <intercept-url pattern="/logout" access="permitAll"></intercept-url>
        <intercept-url pattern="/accessdenied" access="permitAll"></intercept-url>
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')"></intercept-url>
        <!-- <intercept-url pattern="/**" access="hasRole('ROLE_USER')"></intercept-url> -->
        <intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"></intercept-url>
		
		<form-login 
		    login-page="/login" 
		    default-target-url="/index" 
			authentication-failure-url="/login?error" 
			always-use-default-target="true"
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		<csrf/>
	</http>
	
	<beans:bean id="userServiceHandler" class="com.itc.zara.spring.controller.UserServiceHandler"></beans:bean>
	
	<authentication-manager erase-credentials="false">
		<authentication-provider user-service-ref="userServiceHandler"/>
	</authentication-manager>
	

</beans:beans>